@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Roboto:wght@300;500;900&display=swap');

:root{

    --primary: #ffe999;
    --softPrimary: #ffe99923;
    --secondary: #f6e6ce;
    --soft: #fef1e0;
    --dark: #f0bc2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Roboto, Arial, sans-serif;
}

html {
    font-size: 16px;
}

@media (max-width: 1200px){
  html {
    font-size: 90%;
  }
}

@media (max-width: 1000px){
  html {
    font-size: 85%;
  }
}

@media (max-width: 600px){
  html {
    font-size: 70%;
  }
}

@keyframes floating {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(3px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes shadow-drop {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes expand-on-focus {
  0% {
    filter: blur(12px);
    opacity: 0;
    letter-spacing: -0.5em;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: translateZ(700px) translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

