@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Roboto:wght@300;500;900&display=swap');
@import url('home.css');

:root{
    --primary: #ffe999;
    --secondary: #f6e6ce;
    --soft: #fef1e0;
    --dark: #a47f1a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
}

html {
    font-size: 16px;

    @media (max-width: 1200px){
        font-size: 3px;
    }
}
